
/* fullscreen setup */
html, body {
    /* give this to all tags from html to .fullscreen */
    height:100%;
}

header {
    display: table;
    position: relative;
    width: 100%;
    height: 80%;
    color: #3C3030 ;
    background: url(../img/stockhome.jpeg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


section {
  color: #ffffff;
  min-height: 400px;
  height: auto !important;
  height: 100%;
  padding-top:100px;
}


.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #3C3030;

}

.text-vertical-center h1{
  font-weight: bold;
  color: #FF1300;
  font-size: 100px;
}

.container h3{
  color:#FF1300;
}

footer {
  padding:25px 0;
}


.bg-1 {
  background: url(../img/dormsnow.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-3 {
  background: url(../img/newschool.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}


